body{
    background-color: grey;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
    width: 250px;
    height: 35rem;
    border: 4px solid black;
    background-color: black;
    padding: 50px;
    margin-top: 10rem;
    border-radius: 25px
}
.one{
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   width: 300px;
}